*, ::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main h1 {
  text-transform: capitalize;
  color: darkcyan;
}

main {
  position: relative;
}

.subject-container {
  max-width: 960px;
  margin: 0 auto;
  text-align: start;
}

.subject-container .subject {
  font-size: 18px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subject-container .subject:not(.last) {
  border-bottom: 1px solid #acacac;
}

.subject-container a {
  width: 100%;
  text-align: center;
  padding: 1em 2em;
  margin: 0.3em 0.5em;
  color: white;
  display: inline-block;
  border-radius: 7px;
  background: -webkit-gradient(linear, left top, right top, from(cyan), color-stop(darkcyan), to(cyan));
  background: linear-gradient(to right, cyan, darkcyan, cyan);
}

.subject-container span {
  font-size: 20px;
  color: black;
  display: inline-block;
  width: 2rem;
}

@media (min-width: 600px) {
  .subject-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2em;
  }
  .subject-container .subject {
    width: 46vw;
  }
  .subject-container span {
    width: 2.5rem;
  }
}

@media (min-width: 960px) {
  .subject-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2em;
  }
  .subject-container .subject {
    max-width: 437.594px;
  }
  .subject-container span {
    width: 2.5rem;
  }
}

.menu-list {
  visibility: hidden;
  opacity: 0;
}

.overlay-msg {
  top: 0;
  min-height: 100vh;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background: black;
  opacity: 0.5;
}

.wrapper-option {
  width: 70%;
  min-height: 96px;
  padding: 1em;
  max-width: 20rem;
  position: absolute;
  top: 50vh;
  left: 53%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
}

.wrapper-option h2 {
  padding-bottom: 0.5em 0;
  margin-bottom: 0.5em;
  color: darkcyan;
  font-weight: 700;
}

.wrapper-option button {
  background: darkcyan;
  color: white;
  padding: 0.7em 1.5em;
  font-size: 17px;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 5px;
  position: relative;
  margin: 1em;
}

.wrapper-option button:active {
  top: 2px;
}

.wrapper-option .position-ralative {
  position: relative;
}

.wrapper-option .position-ralative .cancel {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0em;
  margin: 0;
  color: red;
  width: 2.3rem;
  height: 2.3rem;
  font-weight: 900;
  background: white;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  border-radius: 50%;
}

.wrapper-option .position-ralative button.cancel:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.books-option {
  width: 100%;
  background: white;
  border: 2px solid yellow;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.books-option button {
  width: 90%;
  margin: 0.5em auto;
  display: block;
  padding: 1em 2em;
  color: white;
  background: darkcyan;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  position: relative;
}

.books-option button:active {
  top: 2px;
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}
/*# sourceMappingURL=grades.css.map */