*,::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:sans-serif;
}
main{
    h1{
        text-transform:capitalize;
        color:darkcyan;
    }
}
main{
    position: relative;
    
}
.subject-container{
    max-width:960px;
    margin:0 auto;
    text-align:start;
    .subject{
        font-size:18px;
        color:white;
        display:flex;
        align-items:center;
    }
    .subject:not(.last){
        border-bottom:1px solid rgb(172, 172, 172);
    }
    a{
        width:100%;
        text-align:center;
        padding:1em 2em;
        margin:0.3em 0.5em;
        color:white;
        display:inline-block;
        border-radius:7px;
        background:linear-gradient(to right, cyan, darkcyan, cyan);
    }
    span{
        font-size:20px;
        color:black;
        display:inline-block;
        width:2rem;
    }
}
@media(min-width:600px){
    .subject-container{
        width:fit-content;
        display:flex;
        align-items:center;
        gap:2em;
        .subject{
            width:46vw;
        }
        span{
            width:2.5rem;
        }
    }
}
@media(min-width:960px){
    .subject-container{
        display:flex;
        align-items:center;
        gap:2em;
        .subject{
            max-width:437.594px;
        }
        span{
            width:2.5rem;
        }
    }
}
.menu-list{
    visibility:hidden;
    opacity:0;
}



// =============
// popup download button
//===============
.overlay-msg{
    top:0;
    
    min-height:100vh;
    left:0;
    bottom: 0;
    right:0;
    position:absolute;
    background:black;
    opacity:0.5;
}
.wrapper-option{
    width:70%;
    min-height:96px;
    padding:1em;
    max-width:20rem;
    position:absolute;
    top:50vh;
    left:53%;
    transform:translate(-50%,-50%);
    background:white;
    opacity:0;
    visibility:hidden;
    // animation:fade-in 400ms ease-in-out forwards;
    h2{
        padding-bottom:0.5em 0;
        margin-bottom:0.5em;
        color:darkcyan;
        font-weight:700;
    }
    button{
        background:darkcyan;
        color:white;
        padding:0.7em 1.5em;
        font-size:17px;
        font-weight:700;
        outline:none;
        border:none;
        border-radius:5px;
        position:relative;
        margin:1em;
    }
    button:active{
        top:2px;
    }
    .position-ralative{
        position:relative;
        .cancel{
            position:absolute;
            top:0;
            right:0;
            padding:0em;
            margin:0;
            color:red;
            width:2.3rem;
            height:2.3rem;
            font-weight:900;
            background:white;
            box-shadow:0 0 10px black;
            border-radius:50%;
        }
        button.cancel:active{
            transform:scale(0.9)
        }
    }
    border-radius:10px;
}

// natural or social

.books-option{
    width:100%;
    background:white;
    border:2px solid yellow;
    padding:1em;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    button{
        width:90%;
        margin:0.5em auto;
        display:block;
        padding:1em 2em;
        color:white;
        background:darkcyan;
        border:none;
        outline:none;
        font-size:18px;
        border-radius:5px;
        position:relative;

    }
    button:active{
        top:2px;
        transform:scale(0.99)
    }
}