section{
    height:100vh;
  h3{
    color:darkcyan;
    text-align:center;
  }
  ul{
    margin:1.5em auto 1.5em auto;
    width:fit-content;
  }
  li{
    color:rgb(57, 58, 62);
    list-style-type:disc;
    font-weight:bold;
  }
p{
    margin:0.5em 0;
}
}
